export OPENAI_API_KEY='YOUR_API_KEY_HERE'

export LANGSMITH_TRACING="true"
export LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
export LANGSMITH_API_KEY="YOUR_API_KEY_HERE"
export LANGSMITH_PROJECT="YOUR_API_KEY_HERE"
